<section id="signup-container">
  <div class="auth--card" style="width: 18rem;">
    <h1 class="auth--card-title">Log in!</h1>
    <div>
      {{#if errorMessage}}
        <div class="error">
          <p>{{errorMessage}}</p>
        </div>
      {{/if}}
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="login-email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="login-password">
        </div>
        <button type="submit" class="btn btn-warning btn-login btn-block btn-lg text-center">Log in</button>
      </form>
    </div>
    <div>
      <span class="logo-link-container">
        Not a user yet? Sign up <a class="login-link" href="/signup">here</a>      
      </span>
    </div>
  </div>
</section>
