<section id="signup-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="#">Logo</a>
      <li class="nav-item active">
        <a class="nav-link disabled" href="/">Foodle</a>
      </li>
  </nav>
  <div class="auth--card" style="width: 18rem;">
    <div class="auth--card-title">Sign up!</div>
    <div>
      <form action="/signup" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="username" class="form-control" id="signup-username" name="username">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="signup-email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="signup-password">
        </div>
        <button type="submit" class="btn btn-warning auth--btn">Sign up</button>
      </form>
    </div>
    <div>
      <span class="logo-link-container">
        Already a user? Log <a class="login-link" href="/login">here</a>
      </span>
    </div>
  </div>
</section>
