<div class="col-lg-4 mb-5" style="float:left">
  <div class="card recipes-card">
    <img class="card-img-top" src="{{image}}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">{{title}}</h3>
      <p class="card-text">{{description}}</p>
    </div>
    <div class="card-footer recipes-card--footer">
      <a href="/">
        <button class="btn btn-warning btn-lg recipes-card--btn">Read More</button>
      </a>
    </div>
  </div>
</div>
