<section id="error-container">
  {{>navbar}}
  <div class="alert text-center" role="alert">
    <h1>Error!</h1>
    <h2>There was an error on the server! Check the console!</h2>
    <a href="/recipes"><button type="button" class="btn btn-outline-danger btn-lg">Go Back to Recipes</button></a>
  </div>
</section>