<section id="landingPage">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="#">Logo</a>
      <li class="nav-item active">
        <a class="nav-link disabled" href="/">Foodle</a>
      </li>
  </nav>

  <div class="landingPage--box">
    <h1 class="landingPage--title">Welcome to {{title}}</h1>
    <h3 class="landingPage--subtitle">Get all the information, add your own favorites, and order chef-made meals!</h3>
    <div class="landingPage--buttons">
      <a href="/signup" class="btn btn-warning btn-signup btn-block btn-lg" role="button" aria-pressed="true">Sign Up</a>
      <a href="/login" class="btn btn-outline-warning btn-login btn-block btn-lg" role="button" aria-pressed="true">Login</a>
    </div>
  </div>
  
</section>