<section id="header-image">
  <img src='/images/headers/header_jobdone1.png'>
  <hr>
</section>
<form action="/login" method="POST" class="form-login">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" id="email-input" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="passwordHash" id="password-input" placeholder="**********">
  </div>
    <button type="submit" class="btn btn-secondary">Login</button>

    {{#if errorMessage}}
      <p class="alert alert-primary" role="alert">{{errorMessage}}</p>
    {{/if}}
</form>