<section id="error-container">
  {{>navbar}}
  <div class="alert text-center" role="alert">
    <h1>404 Error</h1>
    <h2>This route does not exist on the app!<br> Check if everything is ok!</h2>
    <a href="/recipes"><button type="button" class="btn btn-outline-danger btn-lg">Go Back to Recipes</button></a>
  </div>
</section>
