<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <a class="navbar-brand" href="#">Logo</a>
    <li class="nav-item active">
      <a class="nav-link disabled" href="/">Foodle</a>
    </li>
  </ul>
</nav>

<div class="container">
  <h1>404 Error</h1>
  <h2>This route does not exist on the app! Check if everything is ok!</h2>
</div>