<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
   <ul class="nav nav-pills nav-justified">
  <li role="presentation"><a href="#">Jobs</a></li>
  <li role="presentation"><a href="#">Create Job</a></li>
  <li role="presentation"><a href="#">Edit profile</a></li>
  <li role="presentation"><a href="#">Log out</a></li>
</ul>
  </div>
</nav>