<section id="header-image">
  <img src='/images/headers/header_signup1.png'>
</section>
{{#if errorMessage}}
      <p class="alert alert-primary" role="alert">{{errorMessage}}</p>
    {{/if}}
  <hr>
<form action="/signup" method="POST" class="form-signup">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name-input" placeholder="Joe Bloggs">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email-input" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="phone-number">Telephone</label>
    <input type="number" class="form-control" name="telephone" id="phone-input" placeholder="061234567">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="mixed" class="form-control" name="address" id="address-input"
      placeholder="Hacker Street, 12345 Hackersville">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="passwordHash" id="password-input" placeholder="**********">
  </div>
  <hr>
  <section id="skill-provider-signup">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="skillprovider" value="true" id="skillCheckBox">
      <label class="form-check-label" for="skillCheckBox">
        I have lost my job through the Covid-19 Pandemic and I have a skill to offer
      </label>
      <p></p>
    </div>
    <p>Please select up to 3 skills</p>
    <div class="form-group">
      <select class="form-control" type="text" name="skill1" id="skillSelectBox">
        <option>Skill 1</option>
        <option>Painting and decorating</option>
        <option>Babysitting</option>
        <option>Cooking</option>
        <option>Web development</option>
        <option>Cleaning</option>
        <option>Woodwork and general repairs</option>
        <option>Gardening</option>
        <option>Ironing</option>
        <option>Homework help and tutoring</option>
        <option>Hairdressing</option>
        <option>Car washing (inside and out)</option>
        <option>n/a</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" type="text" name="skill2" id="skillSelectBox">
        <option>Skill 2</option>
        <option>Painting and decorating</option>
        <option>Babysitting</option>
        <option>Cooking</option>
        <option>Web development</option>
        <option>Cleaning</option>
        <option>Woodwork and general repairs</option>
        <option>Gardening</option>
        <option>Ironing</option>
        <option>Homework help and tutoring</option>
        <option>Hairdressing</option>
        <option>Car washing (inside and out)</option>
        <option>n/a</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" type="text" name="skill3" id="skillSelectBox">
        <option>Skill 3</option>
        <option>Painting and decorating</option>
        <option>Babysitting</option>
        <option>Cooking</option>
        <option>Web development</option>
        <option>Cleaning</option>
        <option>Woodwork and general repairs</option>
        <option>Gardening</option>
        <option>Ironing</option>
        <option>Homework help and tutoring</option>
        <option>Hairdressing</option>
        <option>Car washing (inside and out)</option>
        <option>n/a</option>
      </select>
    </div>
    <div class="form-group">
      <label for="additionalInfoSkills">Additional Information</label>
      <textarea class="form-control" type="text" name="additionalinformation" id="additionalInfoSkills" rows="5"></textarea>
    </div>
  </section>
  <section id="job-owner-signup">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="jobowner" value="true" id="jobCheckBox">
      <label class="form-check-label" for="jobCheckBox">
        I have a job to be done
      </label>
      <p></p>
    </div>
    <div class="form-group">
      <label for="jobSelect">Please select a description</label>
      <select class="form-control" type="text" name="jobDescription" id="skillSelectBox">
        <option>Job description</option>
        <option>Painting and decorating</option>
        <option>Babysitting</option>
        <option>Cooking</option>
        <option>Web development</option>
        <option>Cleaning</option>
        <option>Woodwork and general repairs</option>
        <option>Gardening</option>
        <option>Ironing</option>
        <option>Homework help and tutoring</option>
        <option>Hairdressing</option>
        <option>Car washing (inside and out)</option>
      </select>
    </div>
    <div class="form-group">
      <label for="additionalInfoJob">Additional Information</label>
      <textarea class="form-control" type="text" name="additionalInfoJob" id="additionalInfoJob" rows="8"></textarea>
    </div>
  </section>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="signupagreement" value="true" id="tandcCheckBox">
    <label class="form-check-label" for="tandcCheckBox">
      <a href="/auth/tandcs" target="_blank">I confirm that I have read and understood the terms and conditions.</a>
    </label>
    <button type="submit" class="btn btn-secondary">Submit</button>
</form>