<div class="signup-container">
  <div class="card" style="width: 18rem;">
    <div class="card-title">Sign up!</div>
    <div>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="username" class="form-control" id="username" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password1">
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
      </form>
    </div>
    <div>
      <span class="logo-link-container">
        Already a user? Log <a class="login-link" href="">here</a>
      </span>
    </div>
  </div>
</div>