<section id="header-image">
  <img src='/images/headers/header_howitworks1.png'>
  <hr>
</section>
<div class="jumbotron">
  <p>How everything works...</p>
  <p>including details of Corona precautions...</p>
  <p>and tax implications...</p>
</div>
<p><button class="btn btn-secondary btn-lg" type="button" onclick="window.close();">Close</button></p>