body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}


/* Navbar */
#navbarSupportedContent {
  justify-content: space-between;
}

.nav-buttons {
  display: flex;
}

.btn-signup,
.btn-login {
  margin-right: 8px;
}