* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.btn-warning {
  color: #fff;
}

.btn-warning:hover {
  color: #e0a800;
  background-color: #fff;
  border-color: #d39e00;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin-top: 60px;
}

section {
  min-height: 100vh;
  background: url('../images/foodle-landing-page.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar */

.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#navbarSupportedContent {
  justify-content: space-between;
}

.nav-buttons {
  display: flex;
}

.btn-signup,
.btn-login {
  margin-right: 8px;
}

/* Signup */
.login-link {
  color: black;
  text-decoration: underline;
  padding-left: 5px;
}


.auth--card {
  border: none;
  min-width: 400px;
  max-width: 800px;
  padding: 40px;
  margin: 20px auto;
  background-color: #fff;
  opacity: 0.92;
}

.auth--card-title {
  display: flex;
  justify-content: center;
  padding: 0 20px 20px 20px;
  font-weight: 600;
  font-size: 24px;
  color: #ffc107;
}

.auth--btn {
  display: flex;
  margin: auto;
  color: #fff;
}

.logo-link-container {
  padding: 25px;
  display: flex;
  justify-content: center;
}
/* Landing Page */

.landingPage--box {
  max-width: 800px;
  padding: 40px;
  margin: 20px auto;
  background-color: #fff;
  opacity: 0.92;
  text-align: center;
}

.landingPage--title {
  font-weight: 900;
  margin-bottom: 20px;
}

.landingPage--subtitle {
  margin-bottom: 40px;
}

.landingPage--buttons {
  width: 50%;
  margin: 0 auto;
}


/* Recipes Page */

.recipes-card {
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: rgba(248, 249, 250, 0.92);
}

.card-img-top {
  padding: 20px 20px 0 20px;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0;
}

.recipes-card--footer {
  padding: 0;
}

.recipes-card--btn {
  width: 100%;
  border-radius: 0;
}

/* Error Page */
/* #error-container > .card, */

#not-found-container > .alert {
  border: none;
  width: 600px;
  padding: 40px;
  margin: 20px auto;
  background-color: rgba(248, 249, 250, 0.92);
}

.btn-outline-danger {
  margin-top: 20px;
  width: 100%;
}
  
.new-recipe--checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ffc107;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.new-recipe--checkbox:checked {
  background-color: #ffc107;
}

.new-recipe--btn {
  display: flex;
  margin: auto;
  color: #fff;
  }

.new-recipe--time {
  width: 70px;
  height: 30px;
}

/* Recipe details */

#recipe-details {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

.recipe-card {
  border: none;
  width: 600px;
  padding: 40px;
  margin: 20px auto;
  background-color: #fff;
  opacity: 0.92;
}

.recipe-card-title {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  font-weight: 600;
  font-size: 32px;
  color: #ffc107;
}

.recipe-fs {
  font-size: 16px;
}

.recipe-info {
  padding: 50px;
}

.recipe-info > ul{
  list-style: none;
  padding: 10px;
}