* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration-line: none;
}

.btn-warning {
  color: #fff;
}

.btn-warning:hover {
  color: #e0a800;
  background-color: #fff;
  border-color: #d39e00;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin: 150px 0 80px;
}

section {
  min-height: 100vh;
  background: url('../images/foodle-landing-page.jpg') no-repeat center center fixed rgba(114, 114, 114, 0.5);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar */

.navbar {
  overflow-y: visible;
  z-index: 10;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbarSupportedContent {
  justify-content: space-between;
}

.nav-buttons {
  display: flex;
}

.dropdown-menu {
  padding: 20px;
  min-width: 300px;
}

.dropdown-menu .form-group {
  display: flex;
  align-items: center;
}

.dropdown-menu .form-group.form-group--veg label {
  display: flex;
  width: 100%;
}

.dropdown-menu .form-group label {
  width: 50px;
  margin: 0 10px 0 0;
}

.dropdown-menu .form-group .form-control {
  width: 200px;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

/* Signup */

.btn-signup,
.btn-login {
  margin-right: 8px;
  text-align: center;
}

.login-link {
  font-weight: 700;
  margin-left: 5px;
  padding-bottom: 1px;
}

.login-link:hover {
  color: #ffc107;
  text-decoration-line: underline;
}

.auth--card {
  border: none;
  min-width: 400px;
  max-width: 800px;
  padding: 40px;
  margin: 20px auto;
  background-color: #fff;
  opacity: 0.95;
}

.auth--card-title {
  display: flex;
  justify-content: center;
  padding: 0 20px 20px 20px;
  font-weight: 700;
  color: #ffc107;
}

.logo-link-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
/* Landing Page */

.landingPage--box {
  max-width: 800px;
  padding: 40px;
  margin: 20px auto;
  background-color: #fff;
  opacity: 0.95;
  text-align: center;
}

.landingPage--title {
  font-weight: 900;
  margin-bottom: 20px;
}

.landingPage--subtitle {
  margin-bottom: 40px;
}

.landingPage--buttons {
  width: 50%;
  margin: 0 auto;
}


/* Recipes Page */
.featured-recipes,
.added-recipes {
  padding: 40px;
  background-color: rgba(248, 249, 250, 0.9);
}

/* Carousel */

#anchorJump {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0;
}

.carousel-inner {
  background: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 35px 20px;
}

.featured-header {
  color: #ffc107;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffc107;
}

.featured-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-lead {
  font-size: 18px;
}

.carousel-img {
  height: 300px;
  object-fit: cover;
}

.carousel-control-prev {
  left: -40px;
}
.carousel-control-next {
  right: -40px;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffc107' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  height: 26%;
  top: 33%;
  width: 50px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffc107' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  height: 26%;
  top: 33%;
  width: 50px;
}

.carousel-control {
  width: 4%
}

/* Card */

.card-deck {
  margin-top: 40px;
}

.card-img-top {
  padding: 20px 20px 0 20px;
  width: auto;
  height: 250px;
  object-fit: cover;
  border-radius: 0;
}

.card-title {
  color: #ffc107;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

.card-title:hover {
  border-bottom: 1px solid #ffc107;
}

.recipes--title {
  color: #ffc107;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffc107;
}

.recipes-card {
  height: 100%;
  border: 1px solid #eee;
  border-radius: 0;
  background-color: white;
  min-width: 300px;
}

.recipes-card--footer {
  padding: 0;
}

.recipes-card--btn {
  width: 100%;
  border-radius: 0;
  border: none;
}

.recipes-card--btn:hover,
.recipes-card--btn:active  {
  border: none;
  background-color: #fff;
  color: #ffc107;
}

/* Error Page */
#error-container > .alert {
  width: 600px;
  padding: 40px;
  margin: 20px auto;
  background-color: rgba(248, 249, 250, 0.95);
}

.btn-outline-danger {
  margin-top: 20px;
  width: 100%;
}

/* New Recipe */

.recipe-card-title {
  color: #ffc107;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffc107;
}

.new-recipe--checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ffc107;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.new-recipe--checkbox:checked {
  background-color: #ffc107;
}

.new-recipe--btn {
  text-align: center;
  }

.new-recipe--time {
  width: 70px;
  height: 30px;
}

#ingredients-container {
  width: 100%;
}

.badge {
  margin: 5px 2.5px;
}

.badge-pill {
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
}

.fa-times {
  padding-left: 10px;
  margin-top: 1px;
  cursor: pointer;
}

/* Recipe details */

#recipe-details {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-card {
  border: none;
  width: 600px;
  padding: 40px;
  margin: 20px auto;
  background-color: #fff;
  opacity: 0.95;
}

.recipe-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 32px;
  color: #ffc107;
}

.recipe-lead {
  font-size: 22px;
  font-weight: 500;
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd; 
  padding: 20px 0;
  margin-bottom: 20px;
}

.recipe-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.recipe-ingredients--list {
  margin-left: 20px;
}

.recipe-info {
  padding: 0 10px;
  border-left: 1px solid #ddd;
  border-radius: 5px;
}

.recipe-info > ul{
  list-style: none;
  padding: 10px;
}

.recipe-directions {
  margin: 20px 0;
  padding-top: 20px;
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd; 
}



.recipe-directions--header,
.recipe-ingredients--header {
  font-weight: 700;
  margin-bottom: 10px;
}

.recipe-directions--step > span {
  display: flex;
  align-items: center;
}

.recipe-directions--step > span i {
  margin-right: 5px;
}

.recipe-creator {
  margin: 0;
}

.fa-leaf {
  color: green;
}

/* User Profile Page */

.profile--box {
  max-width: 800px;
  padding: 40px;
  margin: 20px auto;
  background-color: #fff;
  opacity: 0.95;
  text-align: center;
}