<section id="recipes">
  {{>navbar}}
  <div class="container">
    <div class="card-deck mt-5">
      <div class="row equal">
        {{#each recipes}}
          {{> recipeCard }}
        {{/each}}
      </div>
    </div>
  </div>
</section>